@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif+Caption:ital@0;1&family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
}
 
.chatRoot {
    flex: 1;
    display: flex;
}
 
.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Fully expanded height */
    width: 100%;
}
 
.chatEmptyState {
    flex-grow: 1;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.8); Very light faded background color */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Fully expanded height */
    width: 100%; /* Fully expanded width */
    padding-top: 100px;
}
 
.chatEmptyStateTitle {
    font-size: 52px; /* Slightly larger font size for prominence */
    font-weight: 700; /* Bold text */
    color: #8E1616; /* Enhanced shadow for depth */
    margin: 0;
    padding: 30px 0; /* Increased padding for better spacing */
    text-align: center; /* Center align the title */
    border-radius: 10px; /* Slightly more rounded edges */
    display: inline-block; /* Inline block to fit content */
    letter-spacing: 1px; /* Increased letter spacing for elegance */
    transition: transform 0.3s;/* Smooth transition for hover effects */
}

.chatEmptyStateTitle:hover {
    transform: scale(1.05); /* Slightly enlarge on hover *//* Enhance shadow on hover */
}

.chatEmptyStateSubtitle {
    font-family: 'Montserrat', sans-serif; /* Clean, modern font for subtitle */
    font-size: 24px; /* Adjusted font size for subtitle */
    font-weight: 600; /* Semi-bold text */
    color: #021526; /* Softer text color for contrast */
    margin-bottom: 15px; /* Increased margin for spacing */
    border-radius: 8px; /* Rounded edges */
    padding: 15px; /* Increased padding for better spacing */
    /* display: inline-block; Inline block to fit content */
    text-align: center; /* Center align the subtitle */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); Subtle shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.chatEmptyStateSubtitle:hover {
    transform: scale(1.03); /* Slightly enlarge on hover */
}


 
@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }
 
    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}
 
.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}
 
.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}
 
.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}
 
.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: transparent;
}
 
.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}
 
.chatSettingsSeparator {
    margin-top: 15px;
}
 
.loadingLogo {
    font-size: 28px;
}
 
.commandsContainer {
    display: flex;
    align-self: flex-end;
}
 
.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
 